.link-container {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
	overflow: hidden;
}

.link-container p {
	text-align: center;
	height: fit-content;
	color: #3444c3;
	font-weight: bold;
	font-size: 1.8rem;
}
.code {
	font-size: 2.4rem !important;
	color: #f76707 !important;
	text-decoration: underline;
}

.link-container textarea {
	width: fit-content;
	height: fit-content;
	font-size: 1.8rem;
}

.copy-btn {
	font-size: 1.8rem;
	padding: 1rem 2rem;
}
