.container {
	max-width: 80rem;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 4rem;
	margin-bottom: 2rem;
}

.container button {
	font-size: 5rem;
	border: none;
	background-color: #3443d3;
	padding: 1rem;
	border-radius: 40%;
	cursor: pointer;
	transition: all 0.3s;
	box-shadow: 0 5px 10px rgba(52, 67, 211, 0.4);
}

.container button:hover {
	font-size: 5rem;
	border: none;
	background-color: rgb(130, 201, 30);
	transform: translateY(-5px);
	box-shadow: 0 5px 10px rgba(130, 201, 30, 0.4);
	border: 1px solid white;
}

.sent {
	font-size: 2.4rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	color: rgb(130, 201, 30);
	position: absolute;
	top: 1rem;
	left: 2rem;
}
